<ion-view view-title="Favourites" class="favourites-page">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="product in favourites">
        <img ng-src="{{product.thumbnail}}">
        <h2>{{product.name}}</h2>
        <p>{{product.tagline}}</p>
        <ion-option-button class="button-assertive" ng-click="removeProduct(product, $index)">
          <i class="ion-minus-circled"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
